h1 {
  text-align: center;
  font-weight: 400;
  text-decoration: #f78120;
  letter-spacing: 1px;
  font-size: 30px;
  font-family: Segoe UI, Futura, Arial;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
